.step2-container{  
background-color: #292E31;
color:white;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;

}

.submit-button{
    color:#2679E3;
    font-size: 20px;
   border-radius: 10px;
   background-color: #2679E3;
   color:white;
   font-family: Arial, Helvetica, sans-serif

}
.title{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.select1{
    background-color: #2679E3;
    color:white;
}

.select2{
    background-color: #2679E3;
    color:white;
}

.select3{
    background-color: #2679E3;
    color:white;
}

.select4{
    background-color: #2679E3;
    color:white;
}

.select5{
    background-color: #2679E3;
    color:white;
    padding-right:10px;    
}