
#navItems{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.nav Link{
    background: black;
}

/* .hamburger-image {
    height: 30px;
    width:30px;
}

.hamburger-container {
    display: flex;
    justify-content: flex-end;
} */