#nav-dev {
    font-family: 'DM Sans', sans-serif;
    color: #2679E3;
}

#nav-links {
    font-family: 'DM Sans', sans-serif;
    color: white;
}

#nav-container {
    background: #292E31;
}
/* #navItems{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.nav Link{
    background: black;
} */

/* .hamburger-image {
    height: 30px;
    width:30px;
}

.hamburger-container {
    display: flex;
    justify-content: flex-end;
} */ 