body {
    background: whitesmoke;
}

.input {
    display: flex;
    /* justify-content: flex-end;
    align-items: flex-end; */
    position:fixed;
    bottom:0;
    margin-top: 1rem;
}

.input input {
    width: 80vw;
    font-size: 1.3rem;
}

.input button {
    width: 20vw;
    height:7vh;
}

ul {
    bottom:9rem;
}

li {
    word-wrap: break-word;
}